@font-face {
    font-family: 'valorax';
    src: url('../fonts/valorax.otf') format('otf'), /* You can add different formats here */
         url('../fonts/valorax.otf') format('otf');
}

@font-face {
    font-family: 'Ryzes-ax92x';
    src: url('../fonts/Ryzes-ax92x.ttf') format('ttf'), /* You can add different formats here */
         url('../fonts/Ryzes-ax92x.ttf') format('ttf');
}

@font-face {
    font-family: 'gloom';
    src: url('../fonts/gloom.otf') format('otf'), /* You can add different formats here */
         url('../fonts/gloom.otf') format('otf');
}

@font-face {
    font-family: 'SdglitchdemoRegular-YzROj';
    src: url('../fonts/SdglitchdemoRegular-YzROj.ttf') format('ttf'), /* You can add different formats here */
         url('../fonts/SdglitchdemoRegular-YzROj.ttf') format('ttf');
}

.god-logo p{ 
    font-family: 'valorax', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 35px;
}

.sidebar-item .hide-menu{
    font-family: 'valorax', Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 100;

}

.hero{
    font-family: 'valorax', Arial, sans-serif;
    color: #fff;
}

.welcome{
    font-family: 'valorax', Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
}

.sign-in-button{
    font-family: 'valorax', Arial, sans-serif;
    color: #fff;
}

.work{
    font-family: 'valorax', Arial, sans-serif;
    color: #fff;
    font-size: 10px;
}

.login{
    font-family: 'valorax', Arial, sans-serif;
    color: #fff;
    font-size: 12px;
}


.task-perform p{
    font-family: 'valorax', Arial, sans-serif;
    color: #33cc33;
}

.expense-income{
    font-family: 'valorax', Arial, sans-serif;
    color: #33cc33;
}

.num p{
    font-family: 'Valorax';
    color: #fff;
}